html {
	scroll-behavior: smooth;
}

h1 {
	color: #2F52E0; 
	font-style: 28px;
}

h2 {
	color: #2F52E0;
	font-style: 18px;
}

body {
	background-color:#D1FAFF;
	font-family: graphik;
}

#picture {
	height:100px;
	width: 100px;
	border-radius: 50px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.btn {
	display: block;
	width: 150px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: #F9CB40;
	margin: 30px auto;
	border-radius: 20px;
}

.btn:hover {
	background-color: #D1FAFF;
	line-height: 60px;
	transition: 1s;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #F3DE8A;
}

.navbar a {
	margin: 5px 5px;
}

.btn-navbar {
	display: inline-block;
	width: 110px;
	line-height: 40px;
	text-align: center;
	background-color: #F9CB40;
	margin: 10px auto;
	border-radius: 20px;
}

.btn-navbar:hover {
	background-color: #D1FAFF;
	transition: 1s;
}

.card{
	background-color: white;
	padding: 40px;
	margin: 30px auto;
	text-align: center;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.container {
	width: 700px;
	margin: 20px auto; 
}